* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.2rem;
}

input, button {
    border-radius: 5px;
    border: 1px solid gray;
    margin-block-end: 5px;
}

input {
    height: 25px;
}

p, label, button {
    font-size: 1.8rem;
}

body {
    display: grid;
    grid-template-rows: 0.5fr 1fr 2fr 1fr;
    justify-items: center;
    background-color: #f7f4ea;
}

header {
    padding-block-start: 10px;
}

section {
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
}

header h1 {
    margin-block-end: 5px;
}

header, section {
    width: 90%;
    text-align: center;
}

body > * {
    margin-block-end: 20px;
}

form {
    display: flex;
    flex-direction: column;
}